:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;


  --gray: #9F9F9F;
  --grayBorders: #d9d9d9;


  --primary-color: #B88E2F;
  --secondary-color: #FCF8F3;
  --subtext: #666666;

  --discount-color: #E77070;
  
  --header-text: 40px;
  --body-width: 76.5rem;
  --main-padding-margin: 4rem;



 
}

@media (prefers-color-scheme: dark) {
  /* :root {
   
  } */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  /* min-height: 100dvh; */
  /* background-color: brown; */
}

body {
  
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}

.subtext{
  color: var(--subtext);
}

section{
  /* padding: 3rem 0; */
  /* width: var(--body-width); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: #666666; */
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.revealBtnContainer{
  display: flex;
  justify-Content: center;
  padding: 2rem 0;
}

.revealBtn{
  /* background-color: red; */
  padding: .5rem 4rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: .8rem;
  font-weight: 500;
  transition: .2s;
}

.revealBtn:hover{
  background-color: var(--primary-color);
  color: white;
}